<ion-content ng-controller="annonceDetailCtrl" class="has-header"class="padding">

<div class="list card">

  <div class="item item-avatar">
    <img src="../img/logo/{{ annonce.sport|lowercase }}.png">
    <h2>{{ annonce.titre }}</h2>
    <p>{{ annonce.date }}</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="../img/cover/{{ annonce.sport|lowercase }}-cover.png">
    <p>{{ annonce.description }}</p>

  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#/app/participer/{{ annonce.id }}">
      <i class="icon ion-ios-body"></i>
      Je participe !
    </a>
  </div>

</div>
 
</ion-content>