<ion-side-menus>
  <ion-side-menu-content>
    <ion-nav-bar class="bar-m2l-green">

      <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-android-add" menu-toggle="right">
        </button>
      </ion-nav-buttons>

      <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-m2l-green">
      <h1 class="title">Left</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/annonces">
          Accueil
        </ion-item>
        <ion-item nav-clear ng-controller="loginCtrl" menu-close ng-click="login()">
          Login
        </ion-item>
        <ion-item nav-clear ng-controller="inscriptionCtrl" menu-close ng-click="inscription()">
          Inscription
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

  <ion-side-menu side="right" ng-controller="ajoutAnnonceCtrl">
    <ion-header-bar class="bar-m2l-green">
      <h1 class="title">Ajouter une annonce</h1>
    </ion-header-bar>
    <ion-content class="padding">
      <ion-list>

        <form name="annonceForm" ng-submit="addAnnonce(titre, description, sport, niveau, date)">

            <label class="item item-input">
              <span class="input-label">Titre</span>
              <input type="text" ng-model="titre">
            </label>
            <br />
            <label class="item item-input item-select">
              <span class="input-label" >Sport</span>
              <select ng-model="sport" ng-options="x.sport for x in sportAvailable">
                   <option value=""></option>
              </select>
            </label>
            <br />
            <label class="item item-input">
              <textarea rows="7" placeholder="Description" ng-model="description"></textarea>
            </label>
            <br/>
            <label class="item item-input item-select">
              <span class="input-label">Niveau</span>
              <select ng-model="niveau" ng-options="x.niveau for x in niveauAvailable">
                <option value=""></option>
              </select>
            </label>   
              <br/>
            <label class="item item-input">
              <span class="input-label" >Date</span>
              <input type="date" ng-model="date">
            </label>

            <button class="button button-block button-dark" menu-close>Ajouter</button>
            
        </form>
     
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
